@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    /*background: #8b6b61;*/
    background: #321911;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}



